@import '../../scss/colors/colors.scss';

.delegators  {
    padding-top: 70px;
    position: relative;
    .screen-section{
        margin-top: 60px;
       
        &-container {
            height: 100%;
            height: calc(100vh - 270px);
        }   
    }
  
    .delegator-not-found {
        position: absolute;
        top: 160px;
    }
    .search-input-box{
        width: 500px;
    }
}