@import '../../scss/colors/colors.scss';

.delegators  {
    padding-top: 90px;
    position: relative;
    .screen-section{
        margin-top: 60px;
    }
    .screen-section-container {
        height: calc(100vh - 300px);
    }
    .delegator-not-found {
        position: absolute;
        top: 160px;
    }
    .search-input-box{
        width: 500px;
    }
}