@import  '../../scss/colors/colors.scss';

    .reward{
        height: 60px;
        padding:15px 0px;
        border-top: 1px solid $list-border-color;
        > div{
            width:calc(100% / 4);
            &:nth-child(1){
                min-width: 300px;
            }
        }
        &-image{
            width: 24px;
            height: auto;
            margin-right: 20px;
            object-fit: contain;
        }
        &-token{
            width: 15px;
            height: 15px;
            object-fit: contain;
            margin-left: 5px;
        }
        &-text{
            font-size: 22px;
            font-family: 'Nunito Sans';
        }
        &-total-text{
            font-weight: 600;
        }
        &-title{
            
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
        }
        .loader-one-line-list{
            width: 100%;
            li{
                width:calc(100% / 4);
               
                .loader{
                    width: 80px;
                     height: 20px;
                }
              
            }
        }
    }
