
@import '../../../../../../scss/colors/colors.scss';

.guardian-stake-legend {
    margin-left: auto;
    h4 {
        color: $light-gray;
        margin-bottom: 30px;
        font-weight: 500;
    }

    div {
        margin-bottom: 27px;
        figure {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-right: 10px;
        }
        p{
            color: $light-gray;
            font-size: 15px;
        }
    }
}