@import '../../../../scss/theme/foundation.scss';
.guardian-delegators {

    &-list {
    height: calc(100vh - 330px);
        .list-item {
            width: 200px;

            &:nth-child(1) {
                width: 530px;
                padding-right: 40px;
            }

            img {
                margin-left: auto;
            }
        }

        .loader-list {
            &-element {
                div {
                    width: 200px;
                    padding-right: 40px;

                    &:nth-child(1) {
                        width: 450px;

                        .loader {
                            width: 70%;
                        }
                    }

                    .loader {
                        height: 20px;
                        width: 100px;
                    }
                }
            }
        }

    }
}